.footer_wrapper{
    background-color: #F8F8F8;
    margin-top: 120px;
}

.footer{
    height: 200px;
    margin-bottom: -50px;
    margin-top: 50px;
}

.footer_text{
    margin-left: auto;
    font-family: 'Mulish', sans-serif;
    color: #848484;
    font-size: 17px;
    font-weight: 300;
    text-align: right;
}

.footer_line{
    background-color: #C4C4C4;
    height: 1px;
    margin: 20px auto
}

.social_media_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media_item{
    font-size: 24px;
    margin: 0 15px
}

.social_media_item:hover{
    color: dodgerblue;
}

.social_media_block{
    padding-top: 3px;
}

.social_media_item{
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.social_media_item>a{
    color: #000;
}

.images_list_img{
    width: 100%;
    height: auto;
}

.top_section{
    align-items: center;
    display: flex;
}


@media all and (max-width: 960px) {
    .top_section{
        align-items: center;
        display: block;
        padding-top: 20px;
    }
    .col-1, .col-11{
      width: 100%;
  }
  .footer_text{
      text-align: center;
  }
  .logo_img{
      display: block;
      margin: 0 auto;
  }
  .footer_line{
      margin-top: 72px;
  }
}