* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.first_section{
    display: flex;
    padding-top: 50px;
    padding-bottom: 120px;
}

.slogan{
    font-size: 64px;
    font-family: 'Playfair Display', serif;
}

.select_group_1, .select_group_2 {
    display: flex;
}

.select{
    border: 1px solid #AFB0B9;
    padding: 10px 40px 10px 10px;
    width: 200px;
    margin: 10px 20px 15px 0;
    border-radius: 6px;
}

.section_description{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 22px;
}

.first_section_img{
    height: auto;
    width: 100%;
}

.line{
    width: 32px;
    height: 2px;
    background: #202336;
    border-radius: 4px;
}

.select_group_big{
    margin-top: 40px;
}

.first_section_button{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    background-color: #FB8F1D;
    border: 1px solid #FB8F1D;
    padding: 10px 35px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 63px;
}

.first_section_button:hover{
    background-color: #fff;
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
}


@media all and (max-width: 960px) {
    .col-6{
      width: 100%;
  }
  .slogan{
    text-align: center;
}
.section_description{
    text-align: center;
}
.line{
    display: block;
    margin: 0 auto;

}
.first_section_button{
    display: block;
    margin: 40px auto 40px auto;
}
.select_group_1, .select_group_2{
    justify-content: center;
}
}